<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Customer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
       <activity android:name=".KakaoMap"></activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="6b9dc9377cb1f2b701ad2ecc55b03db3" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDQRiRxamLFcWFliUIrHUQVx43p4RQUqg0" />

        <activity android:name=".Take_Info_Check" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Find_Location" />
        <activity android:name=".Take_Info" /> <!-- <activity android:name=".Find_Location" /> -->
        <activity android:name=".Success_Register" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>